Odoo/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.tmp
*.cache
dist/
build/
node_modules/
.env
.venv
venv/
.DS_Store
.idea/
.vscode/
.pytest_cache/

# Ignore compiled assets or temporary build files
*.min.js
*.map
